@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: "Montserrat", "sans-serif";
}  
a {
    text-decoration: none;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* Hero Section */
#hero {
    background-image: url(./img/me1.jpeg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: 1s
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#hero .cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;  
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
#hero .cta:hover {
    color: white;
    background-color: crimson;
}
#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}

#hero h1:nth-child(1) span {
    animation-delay: 1s;
}
#hero h1:nth-child(2) span {
    animation-delay: 2s;
}

#hero h1:nth-child(3) span {
    animation-delay: 3s;
}

/* End Hero Section */

/* Keyframes */

@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

/* Services Section */

#services{
    
}
#services .services{
 flex-direction: column; 
 text-align: center; 
 max-width: 1500px;
 margin: 0 auto;
 padding: 100px 0;
}

#services .section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

#services .section-title span {
    color: crimson;
}

#services .service-top p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: 0.5rem;
}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/img-1.png);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
}

#services .service-item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}

#services .service-bottom .icon {
  height: 80px;  
  width: 30px;
  margin-bottom: 20px;
}

#services .service-bottom .icon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* End Services Section */



@keyframes text_reveal{
    100%{
        color: white;

    }
}
@keyframes text_reveal_name{
    100%{
        color: crimson;
        font-weight: 500px;
    }
}
/* Services Section */



/* End Services Section */